[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AGread"]
	path = AGread
	url = https://github.com/paulhibbing/agread
	shallow = true
	registered = true
[submodule "Observation"]
	path = Observation
	url = https://github.com/paulhibbing/observation
	shallow = true
	registered = true
[submodule "PAutilities"]
	path = PAutilities
	url = https://github.com/paulhibbing/pautilities
	shallow = true
	registered = true
[submodule "Sojourn"]
	path = Sojourn
	url = https://github.com/paulhibbing/sojourn
	shallow = true
	registered = true
[submodule "TwoRegression"]
	path = TwoRegression
	url = https://github.com/paulhibbing/tworegression
	shallow = true
	registered = true
