[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Observation"]
	path = Observation
	url = https://github.com/paulhibbing/observation
[submodule "PAutilities"]
	path = PAutilities
	url = https://github.com/paulhibbing/pautilities
[submodule "Sojourn.Data"]
	path = Sojourn.Data
	url = https://github.com/cran/Sojourn.Data
